body {
    font-family: 'Anek Telugu', sans-serif;
}

h1, #menuBtn {
    display: inline;
}

ul {
    list-style: none;
}

#schedule {
    position: absolute;
    left: 50%;
    top: 52%;
    margin-top: 10%;
    transform: translate(-50%, -50%);
    width: 55vw;
}

#headerCntr {
    width: 100%;
    text-align: center;
    margin: 45px auto auto;
}

#menuBtn {
    left: 100px;
    position: absolute;
    transform: scale(0.7);
    transition: opacity 1s, background 0.6s;
    border-radius: 5px;
}

#menuBtn:hover {
    background-color: #BFBFBF;
}

span {
    font-size: 1.15rem;
}

#formCntr {
    background-color: #9ECAFF;
    width: clamp(250px, 700px, 2100px);
    border-radius: 15px;
    display: flex;
    align-items: center;
    height: clamp(110px, 450px, 1000px);
    position: absolute;
    left: 50%;
    top: 55%;
    transform: translate(-50%, -50%);
}

input[type="submit"] {
    width: 165px;
    border-radius: 5px;
    border: 0;
    margin-top: 25px;
    background-color: #1C82FF;
    color: #FFF;
    font-size: 0.95rem;
    height: 40px;
    transition: ease-in-out 0.2s;
}

select {
    width: 170px;
    font-size: 0.85rem;
    border: 1px solid #111;
    height: 30px;
    padding-left: 10px;
    border-radius: 5px;
}

input[type="date"] {
    width: 160px;
    padding-left: 15px;
    height: 30px;
    font-size: 0.9rem;
    border: 1px solid #111;
    border-radius: 5px;
    padding-right: 15px;
}

form {
    width: 100%;
    text-align: center;
}

input[type="text"] {
    font-size: 0.9rem;
    padding-left: 15px;
    width: 227px;
    height: 33px;
    border: 1px solid #111;
    border-radius: 5px;
}

input[type="submit"]:hover {
    transform: scale(1.1);
    background-color: #046AE7;
}

input, select {
    margin-top: 25px;
}

.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a, #subList {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:not(.closebtn), #subList {
    font-size: 25px;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover, #subList:hover {
    color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    margin-left: 50px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media all and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
    #subList {font-size: 18px;}
}

@media all and (min-width: 300px) { /* Phones */
    span {
        font-size: 1rem;
    }

    .closebtn {
        font-size: 36px;
    }

    h1 {
        font-size: 2rem;
        margin-left: 30px;
        line-height: 0;
    }

    #formCntr {
        width: 350px;
        height: 400px;
    }

    #menuBtn {
        left: 10px;
        top: 20px;
        transform: scale(0.6);
    }

    #schedule {
        width: 100vw;
    }
}

@media all and (min-width: 650px) { /* Tablets */
    h1 {
        font-size: 3.4rem;
    }

    #headerCntr {
        margin-top: 100px;
    }

    #formCntr {
        width: 600px;
        height: 450px;
    }

    .closebtn {
        font-size: 36px;
    }

    #menuBtn {
        transform: scale(0.75);
    }

    input[type="submit"] {
        width: 250px;
        font-size: 1.15rem;
        margin-top: 35px;
        height: 55px;
    }

    select {
        width: 300px;
        font-size: 1rem;
        height: 40px;
    }

    input[type="date"] {
        width: 260px;
        height: 40px;
        font-size: 1rem;
    }

    input[type="text"] {
        font-size: 1rem;
        width: 300px;
        height: 40px;
    }

    input, select {
        margin-top: 25px;
    }

    span {
        font-size: 1.2rem;
    }
}

@media all and (min-width: 1200px) { /* Laptops */
    #menuBtn {
        margin-top: 20px;
        transform: scale(0.75);
        margin-left: 50px;
    }

    .closebtn {
        font-size: 36px;
    }

    input[type="submit"] {
        width: 270px;
        font-size: 1.25rem;
        margin-top: 35px;
        height: 55px;
    }

    select {
        width: 320px;
        font-size: 1.1rem;
        padding-left: 15px;
        height: 40px;
    }

    input[type="date"] {
        width: 280px;
        height: 45px;
        font-size: 1.2rem;
    }

    input[type="text"] {
        font-size: 1.2rem;
        width: 300px;
        height: 40px;
    }

    span {
        font-size: 1.5rem;
    }

    h1 {
        font-size: 3.1rem;
    }

    #schedule {
        width: 85vw;
        margin-left: 50px;
    }
}

@media all and (min-width: 1700px) { /* Desktop */
    h1 {
        font-size: 4rem;
    }

    .sidenav a:not(.closebtn), #subList {
        font-size: 1.9rem;
    }

    #schedule {
        width: 75vw;
    }

    #menuBtn {
        transform: scale(1);
    }

    #formCntr {
        width: 800px;
        height: 500px;
    }

    span {
        font-size: 1.55rem;
    }

    input[type="submit"] {
        width: 300px;
        font-size: 1.35rem;
        margin-top: 45px;
        height: 60px;
    }

    select {
        width: 370px;
        font-size: 1.2rem;
        padding-left: 20px;
        height: 45px;
    }

    input[type="date"] {
        width: 330px;
        height: 50px;
        font-size: 1.3rem;
    }

    input[type="text"] {
        font-size: 1.3rem;
        width: 360px;
        height: 45px;
    }
}

@media all and (min-width: 2500px) { /* Large Screen */
    h1 {
        font-size: 6.5rem;
    }

    #menuBtn {
        transform: scale(1.5);
        margin-top: 50px;
        margin-left: 100px;
    }

    #headerCntr {
        line-height: 200px;
    }

    .sidenav a:not(.closebtn), #subList {
        font-size: 2.2rem;
    }

    .closebtn {
        font-size: 50px;
    }

    #formCntr {
        width: 1100px;
        height: 700px;
    }

    span {
        font-size: 1.85rem;
    }

    input[type="submit"] {
        width: 400px;
        font-size: 1.9rem;
        margin-top: 65px;
        height: 80px;
    }

    select {
        width: 600px;
        font-size: 1.6rem;
        padding-left: 20px;
        height: 65px;
    }

    input[type="date"] {
        width: 550px;
        height: 65px;
        font-size: 1.8rem;
    }

    input[type="text"] {
        font-size: 1.65rem;
        width: 600px;
        height: 70px;
    }
}
